[workspace]
members = [".", "base_project"]

[package]
name = "rust_engine_3d"
version = "0.1.0"
authors = ["ubuntunux <ubuntunux@gmail.com>"]
license = "BSD 2-Clause"
homepage = "https://github.com/ubuntunux/RustEngine3D"
repository = "https://github.com/ubuntunux/RustEngine3D"
readme = "RustEngine3D"
edition = "2018"

[dependencies]
ash = "0.31.0"
ash-window = "0.5.0"
bincode = "1.2.1"
byteorder = "1.3.4"
cgmath = "0.17"
chrono = "0.4.15"
env_logger = "0.7.0"
image = "0.23.13"
log = "0.4"
nalgebra = {version = "0.23.1", features = ["serde-serialize"]}
nalgebra-glm = "0.9"
time = "0.1.38"
rand = "0.7"
rusttype = "0.9.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
winit = "0.24"
winit_input_helper = "0.9.0"
which = "4.0.2"
xml-rs = "0.8"
raw-window-handle = ""
#tobj = "2.0"

[lib]
crate-type = ["lib", "cdylib"]

[target.'cfg(target_os = "android")'.dependencies]
ndk = "0.3"
ndk-glue = "0.3"
jni = "0.18"

[package.metadata.android]
apk_label = "RustEngine3D"
#android_version = 29
#target_sdk_version = 29
#min_sdk_version = 26
assets = "resource"
#package_name = "rust.cargo.apk.advanced"
#res = "resource"
#fullscreen = false
#icon = "@mipmap/ic_launcher"
#opengles_version_major = 3
#opengles_version_minor = 2
build_targets = [
    "armv7-linux-androideabi",
    "aarch64-linux-android",
    "i686-linux-android",
    "x86_64-linux-android"
]

#[package.metadata.android.activity_attributes]
#"android:screenOrientation" = "unspecified"
#"android:uiOptions" = "none"

#[[package.metadata.android.feature]]
#name = "android.hardware.camera"

[[package.metadata.android.feature]]
name = "android.hardware.vulkan.level"
version = "1"
required = true

[[package.metadata.android.permission]]
name = "android.permission.WRITE_EXTERNAL_STORAGE"
#max_sdk_version = 18

[[package.metadata.android.permission]]
name = "android.permission.READ_EXTERNAL_STORAGE"
#max_sdk_version = 18

[[package.metadata.android.permission]]
name = "android.permission.MANAGE_EXTERNAL_STORAGE"
#max_sdk_version = 18

#[[package.metadata.android.permission]]
#name = "android.permission.CAMERA"